.page{
    --tw-bg-opacity: 1;
    background-color: rgb(25 25 28/var(--tw-bg-opacity));
    z-index: 100;
    height: 100vh;

    .box{
        display: flex;
        margin-left:7%;
        width:80%;
        flex-wrap: wrap;
        row-gap: 2%;
    }
    .box > div {
        margin-bottom: 2%; /* Adjust the margin to set the gap between rows */
      }
    h2{
        margin-top:7%;
        margin-left:7%;
        color:white;
        font-weight: 200;
       
      }
}
@media screen and (max-width:800px){
  .titlediv{
    margin-top: 10%;
  }
}
  
 