.ContentPage {
  padding: 20px;
  text-align: center;
  overflow: hidden;
  width: 100vw;
}

.ContentPage-lists {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  position: relative;
  z-index: 1; // Set a lower z-index value
}

.pageContent {
 
  z-index: 102;
  
}

.page {
  overflow: auto;
  overflow-x: hidden;
  max-height: 100vh;
  position: relative; // Set position to relative
  
  .featured{
    height: 90vh;
  }

}

h1 {
  color: white;
}
