.ContentPage {
  padding: 20px;
  text-align: center;
}

.ContentPage-lists {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.page{
  background-color: black;
  overflow: auto ; 
  max-height: 100vh;
}

h1 {
  color: white;
}