.ContentPage {
  padding: 20px;
  text-align: center;
}

.ContentPage-lists {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.page{
  --tw-bg-opacity: 1;
  background-color: rgb(25 25 28/var(--tw-bg-opacity));
  overflow: auto !important; 
  max-height: 100vh;
}

h1 {
  color: white;
}