.featured {
  height:  56.25vw;
  position: relative;
  z-index: 100;
  
  .gradient-overlay-top {
    position: absolute;
    width: 100%;
    height: 25%;
    z-index: 1000;
    top: 0;
    background: linear-gradient(to top, transparent,black);
  }
  .gradient-overlay-bot {
    position: absolute;
    width: 100%;
    height: 25%;
    z-index: 1000;
    bottom: 0;
    background: linear-gradient(to bottom, transparent, var(--main-color));
  }

  &.top {
    
  }

  &.bottom {
    bottom: 0;
    background: linear-gradient(to bottom, transparent, var(--main-color));
  }
  
 
  }
  .featured .transparent {
    width: 100%;
    height: 100%;
    background-color:transparent;
    z-index: 2;
  }
  
  img {
    width: 25vh;
    height: 20vh;
    object-fit:contain;
  }

  .info {
    width: 30%;
    position: absolute;
    left: 50px;
    
    bottom: 35%;
    color: white;
    display: flex;
    flex-direction: column;

    .desc {
      margin: 10px 0px;
      font-size: 14px;
    }

    .buttons {
      display: flex;

      button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 500;
        margin-right: 10px;
        cursor: pointer;
        z-index: 2;

        &.play {
          background-color: white;
          color: var(--main-color);
        }

        &.more {
          background-color: gray;
          color: white;
        }

        span {
          margin-left: 5px;
        }
      }
    }
  }

.featured .iframe-container {
  position: relative;
  z-index:-1;
  width:100%;
  height:  56.25vw;

}

.featured .iframe-container iframe {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  
  opacity: 0.8; /* Adjust the opacity as needed */
}