.featured {
  height: 100%;
  position: relative;
  z-index: 100;
  
  .gradient-overlay-top {
    position: absolute;
    width: 100%;
    height: 25%;
    z-index: 1000;
    top: 0;
    background: linear-gradient(to top, transparent,black);
  }
  .gradient-overlay-bot {
    position: absolute;
    width: 100%;
    height: 20%;
    z-index: 1000;
    bottom:0 ;
    background: linear-gradient(to bottom, transparent, var(--main-color));
  }

 

  &.bottom {
    bottom: 0;
    background: linear-gradient(to bottom, transparent, var(--main-color));
  }
  
 
  }
  .featured .transparent {
    width: 100%;
    height: 100%;
    background-color:transparent;
    z-index: 2;
  }
  
  img {
    width: 25vh;
    height: 20vh;
    object-fit:contain;
  }
  .info {
    width: 30%;
    position: absolute;
    left: 5%;
    
    bottom: 10%;
    color: white;
    display: flex;
    flex-direction: column;

    .desc {
      margin: 10px 0px;
      font-size: 14px;
    }

    .buttons {
      display: flex;

      button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        font-weight: 500;
        margin-right: 10px;
        cursor: pointer;
        z-index: 2;

        &.play {
          background-color: white;
          color: var(--main-color);
        }

        &.more {
          background-color: gray;
          color: white;
        }

        span {
          margin-left: 5px;
        }
      }
    }
  }

.featured .iframe-container {
  position: relative;
  z-index:-1;
  width:100%;
  height:  100%;
 

}
.featured .iframe-container iframe {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  
  opacity: 0.8; /* Adjust the opacity as needed */
}

@media screen and (max-width:900px){
  .featured {
    height: 100%;
    position: relative;
    z-index: 100;
    
    .gradient-overlay-top {
      position: absolute;
      width: 100%;
      height: 25%;
      z-index: 1000;
      top: 0;
      background: linear-gradient(to top, transparent,black);
    }
    .gradient-overlay-bot {
      position: absolute;
      width: 100%;
      height: 20%;
      z-index: 1000;
      bottom:0 ;
      background: linear-gradient(to bottom, transparent, var(--main-color));
    }
  
   
  
    &.bottom {
      bottom: 0;
      background: linear-gradient(to bottom, transparent, var(--main-color));
    }
    
   
    }
    .featured .transparent {
      width: 100%;
      height: 100%;
      background-color:transparent;
      z-index: 2;
    }
    
    img {
      width: 20vh;
      height: 20vh;
      object-fit:contain;
    }
    .info {
      width: 30%;
      position: absolute;
      left: 5%;
      
      bottom: 15%;
      color: white;
      display: flex;
      flex-direction: column;
  
      .desc {
        margin: 10px 0px;
        font-size: 9px;
      }
  
      .buttons {
        display: flex;
  
        button {
          padding: 5px 10px;
          border: none;
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 18px;
          font-weight: 500;
          margin-right: 10px;
          cursor: pointer;
          z-index: 2;
  
          &.play {
            background-color: white;
            color: var(--main-color);
          }
  
          &.more {
            background-color: gray;
            color: white;
          }
  
          span {
            margin-left: 5px;
          }
        }
      }
    }
  
  .featured .iframe-container {
    position: relative;
    z-index:-1;
    width:100%;
    height:  100%;
   
  
  }
  .featured .iframe-container iframe {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    
    opacity: 0.8; /* Adjust the opacity as needed */
  }
}